body {
  background-color: rgba(249 250 251 0.4);
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
}

input {
  padding: 10px;
}

input:focus {
  border-color: #007bff;
}

section {
  display: flex;
  flex-direction: column;
}

.show {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  background-color: grey;
}

.renderbox {
  display: flex;
}

.render {
  flex: 1;
  padding: 3rem 1rem;
  background-color: #eeeeee;
}

.render input {
  outline: none;
}

.box {
  flex: 3;
  background-color: green;
}

.money {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  box-shadow: 0 1px 1px rgba(200, 200, 200, 0.5);
  padding: 1rem;
  margin: 1rem 0rem;
}

.bmoney {
  background-color: #eeffee;
  padding: 1rem;
  padding-right: 15rem;
  margin: 1rem;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-radius: 9px;
}

.bmoney p {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .bmoney {
    padding-right: 15rem;
  }

  .money {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .money {
    flex-direction: column;
  }
}

.inputdata {
  display: flex;
  flex-direction: column;
}

.combo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  transition: background 0.3;
}

.select_box {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 400px;
}

.combo .option {
  width: 300px;
  background-color: #dddddd;
  padding: 0.5rem;
}

.option:hover {
  background-color: #ffffff;
}

.option input {
  display: none;
}
