*{
  margin: 0rem;
}

body {
  /* background-color: rgba(249 250 251 0.4); */
 background: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

input {
  padding: 10px;
}

input:focus {
  border-color: #007bff;
}
header {
 background-color: #f4ffde;
}

.show {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  background-color: transparent;
}

.renderbox {
  display: flex;
  flex: wrap;
  flex-direction: column;
  margin-bottom: 1rem;
  min-width: 100px;
}

.render {
 
  background-color: #defccc;
  flex: 1;
  padding: 1.3rem;
}

.render input {
  outline: none;
}

.box {
  flex: 2;
  background-color: #defccc;
}

.money {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 1px 1px rgba(200, 200, 200, 0.5);
  padding: 1rem;
}

.bmoney {
  background-color: #eeffee;
  min-width: 100px;
  padding: 1.5rem;
  margin: 0.5rem;
  border-left: 5px solid green;
  border-right: 5px solid green;
  border-radius: 9px;
  flex: 1;
}

.bmoney p {
  font-size: 2rem;
}

.inputdata {
  display: flex;
  flex-direction: column;
}

.combo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  transition: background 0.3;
}
/*:
.select_box {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 400px;
}

.combo .option {
  width: 100%;
  max-width: 400px;
  background-color: #dddddd;
  padding: 0.8rem;
}

.option:hover {
  background-color: #ffffff;
}

.option input {
  display: none;
}*/

.del {
  padding: 0.5rem 0.5rem;
  background-color: #cae500;
  border-radius: 8px;
  outline: none;
}
del:hover{
  transform: scale(1.05);
  outline: none;

}

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
  .bmoney {
    display: flex;
    flex-wrap: wrap;
  }

  .money {
    display: flex;
    width: 90%;
  }

  .money {
    flex-direction: column;
    width: 250px;
  }

  .bmoney {
    flex: 1;
    padding: 1rem;
  }

  .renderbox {
    flex: 2;
    flex-direction: row;
    gap: 2rem;
  }
  section {
    flex-direction: row;
    align-items: flex-start;
  }
}
