* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxlogin {
  background-color: #ffffff;
  border-radius: 9px;
  border-left: 4px solid lightgreen;
  padding: 2rem;
}

.data {
  width: 90%;
  padding: 12px 15px;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.submit{
  display: flex;
  justify-content: center;
}

.submit button{
 font-size: 1.2rem;
 width:70%;
border-radius: 4px;  
 background-color: #74ED02;
 margin: 1.9rem;
  color:white;
 outline: 0; 
}

.submit button:hover{
  transform: scale(1.07);

}
